.list {
  display: none;
  background-color: rgba(54, 54, 54, 0.5);
  border-radius: 20px;
  width: 200px;
  height: 700px;
  padding: 1rem 2rem;
  position: absolute;
  right: 2vw;
  bottom: 10vh;
}
.list.active {
  display: block;
}
.title {
  margin: 10;
  text-align: center;
  color: white;
}
.listItems {
  margin: 15px 0;
  padding: 0;
  list-style-type: none;
}
.listItems li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.form {
  width: 155px;
  background: white;
  font-size: 1rem;
  border: none;
}
.input {
  width: 155px;
  background: transparent; /* 배경을 투명하게 설정 */
  border: none; /* 테두리 제거 */
  border-bottom: 1px solid transparent; /* 초기에는 아랫밑줄을 투명하게 설정 */
  outline: none; /* 포커스 효과 제거 */
  transition: border-bottom 0.3s; /* 아랫밑줄 변경에 트랜지션 효과 추가 */
}
.input:focus {
  border-bottom: 1px solid #dadada; /* 포커스 시 아랫밑줄 색상 변경 */
}
.todoBtn {
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--color-white);
  margin-left: 15px;
}

.ul {
  padding: 0;
  list-style-type: none;
}

.ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  text-decoration: none;
  color: black;
}
.finished {
  /* 완료된 항목의 색상 및 아랫밑줄 스타일 변경 */
  text-decoration: line-through;
  color: darkgrey;
}

.button-container {
  display: flex;
  align-items: center;
  background: none;
}
