body {
  background-image: url(https://cdn.pixabay.com/photo/2016/03/27/07/32/clouds-1282314_1280.jpg);
  height: 100vh;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(153, 153, 153, 0.5);
  border-radius: 20px;
  padding: 1rem 2rem;
}

.btn:last-child {
  margin: 0;
}
.btn {
  margin-right: 15px;
}

.weatherIcon {
  font-size: 3rem;
  margin-right: 10px;
}
